###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# This config file is use to configure the entries of all local client machine.
#
###############################################################################

# HOST DEFINITION
# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               {{ nagios_server_hostname }}
        alias                   nagios-install-server
        address                 {{ nagios_server_ip }}
        }

###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################


# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  linux-servers ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         {{ nagios_server_hostname }}  ; Comma separated list of hosts that belong to this group
        }

